'name': 'Ludwig'
'scopeName': 'source.ludwig'
'fileTypes': [
  'lw'
]
'patterns': [
    {
      'match': '^(requires|import|export)'
      'name': 'keyword.other.ludwig'
    }
    {
      'match': '\\b(type|fun|as|with|operator|infixr|infixl|prefix|language)\\b'
      'name': 'keyword.other.ludwig'
    }
    {
      'match': '\\b(case|else|elif|if|module|then|of)\\b'
      'name': 'keyword.control.ludwig'
    }
    {
      'match': '\\b([[:upper:]]+(?:[[:word:]]|_|-)*(?:\\.[[:upper:]]+(?:[[:word:]]|\\s_|-)*)*)\\b'
      'name': 'support.class.ludwig'
    }
    {
      'match': '^([[:lower:]]+(?:[[:word:]]|_|-)*):[[:space:]]*'
      'captures':
        '1': 'name': 'variable.ludwig'
    }
    {
      'begin': '#'
      'end': '\\n'
      'name': 'comment.line.number-sign.ludwig'
    }
    {
      'begin': '"'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin.ludwig'
      'end': '"'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end.ludwig'
      'name': 'string.quoted.double.ludwig'
      'patterns': [
        {
          'match': '\\\\(NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&])'
          'name': 'constant.character.escape.ludwig'
        }
      ]
    }
    {
      'begin': '\''
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin.ludwig'
      'end': '\''
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end.ludwig'
      'name': 'string.quoted.single.ludwig'
      'patterns': [
        {
          'match': '\\\\(NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&])'
          'name': 'constant.character.escape.ludwig'
        }
      ]
    }
]
