'scopeName': 'source.clef'
'name': 'Ludwig'
'fileTypes': [
  'clef',
  'lu',
  'lw',
  'ludwig'
]
'patterns': [
    {
      'match': '^requires'
      'name': 'keyword.other'
    }
    {
      'match': '^main:'
      'name': 'keyword.other'
    }
    {
      'match': '[A-Za-z0-9\\-_]*\\s*:'
      'name': 'variable.parameter'
    }
    {
      'match': '\[ ,\\[{\]\(\\d+\\s*:\)'
      'captures':
        '1': 'name': 'variable.parameter'
    }
    {
      'match': '\[ ,\\[{\]\(\\d+\)\(\[ ,\\]}\]\|$\)'
      'captures':
        '1': 'name': 'constant.numeric'
    }
    {
      'match': '\\d+\\s*:'
      'name': 'variable.parameter'
    }

    {
      'begin': '^define'
      'end': '$'
      'name': 'keyword.other'
      'patterns': [
        {
          'match': '[A-Za-z0-9_\\-]+\\s*:'
          'name': 'entity.name.instance'
        }
      ]
    }
    {
      'begin': '^[A-Za-z0-9_\\-]+'
      'end': '$'
      'name': 'entity.name.instance'
      'patterns': [
        {
          'match': '[A-Za-z0-9_\\-]+\\s*:'
          'name': 'variable.parameter'
        }
      ]
    }
    {
      'begin': '#'
      'end': '\\n'
      'name': 'comment.line.number-sign'
    }
    {
      'match': '\\b(true|false)\\b'
      'name': 'constant.language'
    }

    {
      'begin': '"'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin'
      'end': '"'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end'
      'name': 'string.quoted.double'
      'patterns': [
        {
          'match': '\\\\(NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&])'
          'name': 'constant.character.escape'
        }
      ]
    }
    {
      'begin': '\''
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin'
      'end': '\''
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end'
      'name': 'string.quoted.single'
      'patterns': [
        {
          'match': '\\\\(NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&])'
          'name': 'constant.character.escape'
        }
      ]
    }
]

